<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>bookOnline</display-name>
  <welcome-file-list>
    <welcome-file>view/book/BookHome.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controllers.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAddController</display-name>
    <servlet-name>UserAddController</servlet-name>
    <servlet-class>controllers.UserAddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAddController</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookHomeController</display-name>
    <servlet-name>BookHomeController</servlet-name>
    <servlet-class>controllers.BookHomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookHomeController</servlet-name>
    <url-pattern>/BookHomeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookAddController</display-name>
    <servlet-name>BookAddController</servlet-name>
    <servlet-class>controllers.BookAddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookAddController</servlet-name>
    <url-pattern>/BookAddController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendToConfirmationServlet</display-name>
    <servlet-name>SendToConfirmationServlet</servlet-name>
    <servlet-class>userInformation.SendToConfirmationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendToConfirmationServlet</servlet-name>
    <url-pattern>/SendToConfirmationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookDeleteController</display-name>
    <servlet-name>BookDeleteController</servlet-name>
    <servlet-class>controllers.BookDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookDeleteController</servlet-name>
    <url-pattern>/BookDeleteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookSearchController</display-name>
    <servlet-name>BookSearchController</servlet-name>
    <servlet-class>controllers.BookSearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookSearchController</servlet-name>
    <url-pattern>/BookSearchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookUpdateController</display-name>
    <servlet-name>BookUpdateController</servlet-name>
    <servlet-class>controllers.BookUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookUpdateController</servlet-name>
    <url-pattern>/BookUpdateController</url-pattern>
  </servlet-mapping>
</web-app>